html,body,#app,.el-container,.el-card{
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
  /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}
/*
* 面包屑的字体大小 和距离顶部距离
*/
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 13px;
}

